* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #373737
}

main {
    margin: auto;
    max-width: 1200px;
    padding: 100px 0;
    background-color: aliceblue;
    min-height: 100vh;
}

header {
    text-align: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}